/* A simple guide to responsive design. Made by Adam Kaplan.
   (http://www.adamkaplan.me/grid/)
   ========================================================================== */


/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Century Gothic", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 40rem) {
  html { font-size: 112%; }
}

@media (min-width: 64rem) {
  html { font-size: 120%; }
}

body {
  background-color: #00A854;
  color: #eee;
}

.container {
  margin: 0 auto;
  max-width: 46rem;
  width: 96%;
}


/* Clearfix by Nicolas Gallagher
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


.l0.c0 { transform: translate(40px, 46px); } /* à cause effet optique */

.l1.c1 { transform: translate(25px, 10px); }
.l2.c1 { transform: translate(25px, 31px); }
.l3.c1 { transform: translate(25px, 41px); }
.l4.c1 { transform: translate(25px, 52px); }
.l5.c1 { transform: translate(25px, 73px); }
.l6.c1 { transform: translate(25px, 96px) rotate(180deg); }
.l7.c1 { transform: translate(25px, 107px) rotate(180deg); }
.l8.c1 { transform: translate(25px, 117px) rotate(180deg); }
.l9.c1 { transform: translate(25px, 138px) rotate(180deg); }

.l1.c2 { transform: translate(53px, 10px); }                  /* 73 - 63 */
.l2.c2 { transform: translate(53px, 31px); }                  /* 73 - 42 */
.l3.c2 { transform: translate(53px, 41px); }                  /* 73 - 32 */
.l4.c2 { transform: translate(53px, 52px); }                  /* 73 - 21 */
.l5.c2 { transform: translate(53px, 73px); }                  /* 73 = milieu */
.l6.c2 { transform: translate(53px, 96px) rotate(180deg); }   /* 73 + 21 + 2*/
.l7.c2 { transform: translate(53px, 107px) rotate(180deg); }  /* 73 + 32 + 2 */
.l8.c2 { transform: translate(53px, 117px) rotate(180deg); }  /* 73 + 42 + 2 */
.l9.c2 { transform: translate(53px, 138px) rotate(180deg); }  /* 73 + 63 + 2 */

.l1.c3 { transform: translate(81px, 10px); }
.l2.c3 { transform: translate(81px, 31px); }
.l3.c3 { transform: translate(81px, 41px); }
.l4.c3 { transform: translate(81px, 52px); }
.l5.c3 { transform: translate(81px, 73px); }
.l6.c3 { transform: translate(81px, 96px) rotate(180deg); }
.l7.c3 { transform: translate(81px, 107px) rotate(180deg); }
.l8.c3 { transform: translate(81px, 117px) rotate(180deg); }
.l9.c3 { transform: translate(81px, 138px) rotate(180deg); }


/* One card */
.card {
  background-color: #ffffff;
  border-radius: 5px;
  color: #222222;
  float: left;
  height: 198px;
  margin: 0 0 20px 20px;
  overflow: none;
  position: relative;
  width: 144px;
}
/* A Red card */
.red span { color: #d30000; }

#maquette .card { border-radius: 0; margin: 0; }
#maquette > div { margin-left: 20px; }

.card .c1,
.card .c2,
.card .c3,
.card .c0 {
  display: block;
  font-family: "Consolas" !important;
  font-size: 2.9rem;
  line-height: 50px;
  margin: 0;
  min-width: 38px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: center;
}

.card .c0 {
  font-size: 6rem;
  line-height: 100px;
  min-width: 64px;
}

.box {
  background-color: #ddd;
  border: 2px solid #222222;
  display: block;
  height: 150px;
  position: absolute;
  text-align: center;
  transform: translate(23px, 24px);
  width: 96px;
}
.ten .box { display: none; }

/* Top Rank */
.card .tr {
  display: block;
  xfont-weight: bold;
  font-family: "Arial Narrow" !important;
  font-size: 1.7rem;
  max-width: 1rem;
  min-width: 1rem;
  position: absolute;
  text-align: center;
  transform: translate(3px, -3px) scaleX(1);
}
/* Top Rank 10 */
.card.ten .tr   { transform: translate(0px, -3px) scaleX(.8); letter-spacing: -0.14em; }
.card.ace .tr   { transform: translate(3px, -3px) scaleX(.9); }
.card.jack .tr  { transform: translate(2px, -3px) scaleX(.9); }
.card.queen .tr { transform: translate(2px, -3px) scaleX(.7); }
.card.king .tr  { transform: translate(2px, -3px) scaleX(.7); }
/* Top Color */
.card .tc {
  display: block;
  font-family: "Consolas" !important;
  font-size: 1.6rem;
  max-width: 1rem;
  min-width: 1rem;
  position: absolute;
  text-align: center;
  transform: translate(3px, 25px);
}

/* Bottom Rank */
.card .br {
  display: block;
  xfont-weight: bold;
  font-family: "Arial Narrow" !important;
  font-size: 1.7rem;
  max-width: 1rem;
  min-width: 1rem;
  position: absolute;
  text-align: center;
  transform: translate(122px, 152px) rotate(180deg) scaleX(1);
}
/* Bottom Rank 10 */
.card.ten .br   { transform: translate(125px, 152px) rotate(180deg) scaleX(.8);  letter-spacing: -0.14em; }
.card.ace .br   { transform: translate(122px, 152px) rotate(180deg) scaleX(.9); }
.card.jack .br  { transform: translate(123px, 152px) rotate(180deg) scaleX(.9); }
.card.queen .br { transform: translate(123px, 152px) rotate(180deg) scaleX(.7); }
.card.king .br  { transform: translate(123px, 152px) rotate(180deg) scaleX(.7); }
/* Bottom Color */
.card .bc {
  display: block;
  font-family: "Consolas" !important;
  font-size: 1.6rem;
  max-width: 1rem;
  min-width: 1rem;
  position: absolute;
  text-align: center;
  transform: translate(122px, 127px) rotate(180deg);
}


.figure div {
  border: 2px solid #222222;
  display: block;
  height: 166px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  transform: translate(22px, 16px);
  width: 100px;
}

.figure div img {
  margin-left: -325px;
  margin-top: -445px;
  transform: scaleX(.666) scaleY(.666);
}
